body {
    background: #fff;
}

main {
    // width: 100%;
    // height: 100%;
    // position: relative;
}

.container {
    // max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15%;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 93, 44);
}

.swiper {
    overflow-y: hidden;


}

.swiper-wrapper {
    width: 100vw;
    max-width: 100%;
    position: relative;
    padding-bottom: 70px;
}


.logo {
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 10px;
}

.swiper-slide{
    max-height: 350px;
    width: 100%;
}

.swiper-slide__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
}

.swiper-slide img{
    object-fit: cover;
    max-width: 300px;
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    width: 100%;
    height: 50px;
    bottom: 3%;
}

